body {
    background-color: rgb(255, 255, 255);
    font-family: 'Noto Sans', sans-serif;
}

.calendar_table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}

.calendar_table td,
.calendar_table th {
    padding: 5px;
    border: 1px solid #e2e2e2;
    text-align: center;
    vertical-align: top;
}

#add_event_dialog {
    display: none;
}