body {
  background-image: linear-gradient(to right, #e045db, #0cbaba);
  font-family: "Noto Sans", sans-serif;
}

.user_name {
  text-align: center;
  color: white;
  font-family: Georgia;
  font-size: larger;
}

.calendar_header {
  /* //margin: auto; */
  width: 100%;
  color: white;
  align-self: center;
  text-align: center;
  font-size: large;
  font-weight: bolder;
}

.login_register {
  padding-top: 50px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  color: white;
  /* margin: -20px 0 50px; */
}

.right_btn {
  margin-left: 400px;
  margin-right: 10px;
  color: white;
  font-size: large;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.left_btn {
  margin-left: 10px;
  margin-right: 400px;
  color: rgb(255, 255, 255);
  font-size: large;
  /* width: 50%;
  height: 40px; */
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.login_btn {
  border-radius: 8%;
  border: none;
  padding: 9px 12px;
  /* margin-left: 200px;
  margin-right: 100px; */
  background-image: linear-gradient(to right, #e045db, #0cbaba);
  color: rgb(255, 255, 255);
}

.logout_btn {
  align-items: right;
  float: right;
  border-radius: 8%;
  border: none;
  padding: 9px 12px;
  margin-left: 100px;
  margin-right: 100px;
  background-image: linear-gradient(to right, #e045db, #0cbaba);
  color: rgb(255, 255, 255);
}

.register_btn {
  border-radius: 8%;
  border: none;
  padding: 9px 12px;
  /* margin-left: 90px;
  margin-right: 100px; */
  background-image: linear-gradient(to right, #e045db, #0cbaba);
  color: rgb(255, 255, 255);
}

.share_btn {
  border-radius: 8%;
  border: none;
  padding: 9px 12px;
  margin-left: 100px;
  margin-right: 100px;
  background-image: linear-gradient(to right, #e045db, #0cbaba);
  color: rgb(255, 255, 255);
}

.calendar_table {
  width: 80%;
  box-shadow: rgb(0, 0, 0);
  background-color: aliceblue;
  border-radius: 1%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.days_header th {
  border-collapse: collapse;
  padding: 10px;
  color: aliceblue;
}

.calendar_body td {
  padding: 5px;
  padding-bottom: 80px;
  text-align: center;
  vertical-align: top;
  /* height: 2px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgb(52, 78, 100); */
}
.day_cell {
  max-height: 7px;
  overflow: auto;
  width: 6px;
  background-color: rgb(52, 78, 100);
}

.calendar_body th {
  padding: 5px;
  padding-bottom: 80px;
  text-align: center;
  vertical-align: top;
  /* Set the height of table body
  height: 50px;

  /* Set vertical scroll */
  /* Hide the horizontal scroll */
  /* overflow-x: hidden; */
}

.day_number {
  color: #0cbaba;
}

input.text {
  margin-bottom: 12px;
  width: 95%;
  padding: 0.4em;
}

fieldset {
  padding: 0;
  border: 0;
  margin-top: 25px;
}

h1 {
  font-size: 1.2em;
  margin: 0.6em 0;
}

div.hidden_event_date {
  display: none;
}

.event_box {
  border-radius: 5px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #0cbaba;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  color: aliceblue;
  height: 20px;
  margin-bottom: 12px;
}
