body {
    background-color: rgb(255, 255, 255);
    font-family: 'Noto Sans', sans-serif;
}

.calendar_header {
    margin: auto;
    width: 50%;
}

.calendar_table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
}

.days_header th {
    border: 1px solid #929292;
    border-collapse: collapse;
    padding: 10px;
}

.calendar_body td,
.calendar_body th {
    padding: 5px;
    padding-bottom: 80px;
    border: 1px solid #929292;
    text-align: center;
    vertical-align: top;
}

#add_event_dialog {
    display: none;
}