body {
    background-color: rgb(255, 255, 255);
    font-family: 'Noto Sans', sans-serif;
}

#mydialog {
    display: none;
    font-family: 'Noto Sans', sans-serif;
}

.header {
    justify-content: center;
    width: 100%;
    background-color: black;
    padding: 10px 10px;
    margin-bottom: 30px;
}

.headerButton {
    float: right;
    display: inline-start;
    margin-block-end: 0.83em;
    margin: 8px;
}

.deleteAccount {
    float: right;
    display: inline-start;
    margin-block-end: 0.83em;
    margin: 8px;
}

.loginUser {
    padding-left: 20px;
}

.create_story {
    display: list-item;
    box-sizing: border-box;
    border-radius: 4px;
}

.logo {
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 1px 2px rgb(255, 8, 0);
}

div.login {
    justify-content: center;
    text-align: center;
    margin: auto;
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -64%);
    padding: 20px;
    background-color: white;
    font-size: 18px;
}

.maintitle {
    text-align: center;
    font-size: 30px;
}

.username {
    margin-bottom: 10px;
}

div.register {
    justify-content: center;
    text-align: center;
    margin: auto;
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    padding: 20px;
    background-color: #ffffff;
    font-size: 18px;
}

div.logout {
    position: absolute;
    left: 80%;
    top: 5%;
}

.homepage_story {
    background-color: #ffffff;
    padding-left: 8px;
    border-style: solid;
    border-color: #000000;
    justify-content: left;
    margin-bottom: 30px;
    margin-top: 50px;
}

.homepage_comments {
    background-color: #ffffff;
    padding-left: 8px;
    justify-content: center;
}

.comment_headings {
    font-size: 10px;
    color: #757272;
}

input[type="submit"] {
    padding: 5px 10px;
    background: #11a76d;
    font-size: 14px;
    color: #ffffff;
    border: 2px, #000000;
    border-radius: 3px;
}

input[type="submit"].deleteAccount {
    padding: 5px 10px;
    background: red;
    font-size: 14px;
    color: #ffffff;
    border: 2px, #000000;
    border-radius: 3px;
}